@model GameWeb.Models.ViewModels.UserEditViewModel
@{
    ViewData["Title"] = "Edytuj użytkownika";
}

<form method="post" asp-action="Edit">
    <input asp-for="Id" hidden />
    <div>
        <div asp-validation-summary="ModelOnly" class="validation-error-span"></div>
        <div class="upper-row">
            <h2>Edytuj użytkownika</h2>
        </div>
        <div class="default-form">
            <div class="form-input-set">
                <label asp-for="UserName"></label>
                <strong>@Model.UserName</strong>
                <span class="validation-error-span" asp-validation-for="UserName" />
            </div>
            <div class="form-input-set">
                <label asp-for="Email"></label>
                <input class="text-input" asp-for="Email" />
                <span class="validation-error-span" asp-validation-for="Email" />
            </div>
            <div class="form-input-set">
                <label asp-for="Password"></label>
                <input class="text-input" asp-for="Password" />
                <span class="validation-error-span" asp-validation-for="Password" />
            </div>
            <div class="form-input-set">
                <label asp-for="ConfirmPassword"></label>
                <input class="text-input" asp-for="ConfirmPassword" />
                <span class="validation-error-span" asp-validation-for="ConfirmPassword" />
            </div>
            <div class="form-input-set">
                <label asp-for="BirthDate"></label>
                <input class="text-input" asp-for="BirthDate" />
                <span class="validation-error-span" asp-validation-for="BirthDate" />
            </div>
            <div class="form-input-set">
                <label asp-for="Description"></label>
                <textarea class="text-input" rows="6" asp-for="Description"></textarea>
                <span class="validation-error-span" asp-validation-for="Description" />
            </div>
            <div>
                <label>Rola</label>
                <select asp-for="SelectedRole" asp-items="@Model.RoleList" class="select-input">
                    Wybierz rolę
                </select>
            </div>
        </div>
        <div class="form-buttons-row">
            <input type="submit" value="Zatwierdź" class="action-button add-button" />
            <a asp-action="Index" class="action-button cancel-button">Anuluj</a>
        </div>

    </div>
</form>