@if (User.Identity.IsAuthenticated)
{
    <div class="dropdown-container">
        <div class="user-hello"><i class="fas fa-angle-down"></i> Witaj, @User.Identity.Name! <i class="fas fa-user-circle user-icon"></i></div>
        <div class="dropdown-content">
            <ul class="dropdown-menu-flex">
                <li>
                    <a asp-controller="Game" asp-action="Favourite"><i class="fas fa-heart"></i> Ulubione</a>
                </li>
                <li>
                    <a asp-controller="Game" asp-action="Wishlist"><i class="far fa-eye"></i> Chcę zagrać</a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="Manage"><i class="fas fa-cog"></i> Zarządzaj kontem</a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>}
else
{
    <ul>
        <li>
            <a asp-controller="Account" asp-action="Login">Logowanie</a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="Register">Rejestracja</a>
        </li>
    </ul>}