@model GameWeb.Models.Game

<form method="post" asp-action="DeletePost" enctype="multipart/form-data">
    <input asp-for="Id" hidden/>
    <div>
        <div asp-validation-summary="ModelOnly"></div>
        <h2>Usuwanie gry</h2>
        <div style="text-align: center; margin-top: 20px;">
            <p>Czy na pewno chcesz usunąć grę <strong>@Model.Name?</strong></p>

            <div>
                <input type="submit" value="Usuń" class="action-button cancel-button" style="margin-right: 16px;"/>
                <a asp-action="Index" class="action-button">Anuluj</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}