.table-container {
    border-radius: 16px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th {
    background: #111;
    padding: 20px;
    text-align: center;
    font-size: 1.1rem;
}

table th:first-child {
    border-radius: 16px 0 0 0;
}

table th:last-child {
    border-radius: 0 16px 0 0;
}

tr {
    text-align: center;
    background: #222;
}

    tr:nth-child(even) {
        background-color: #272727;
    }

    tr:hover {
        background: #333;
    }

    tr td {
        padding: 8px;
    }

table tr:last-child td:first-child {
    border-radius: 0 0 0 16px;
}

table tr:last-child td:last-child {
    border-radius: 0 0 16px 0;
}
