@model LoginViewModel
@{
    ViewBag.Title = "Logowanie";
}

<form method="post">
    <div class="upper-row">
        <h2>Logowanie</h2>
    </div>
    <div asp-validation-summary="ModelOnly" class="validation-error-span"></div>
    <div class="form-input-set">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="text-input" />
        <span asp-validation-for="Email" class="validation-error-span"></span>
    </div>
    <div class="form-input-set">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="text-input" />
        <span asp-validation-for="Password" class="validation-error-span"></span>
    </div>
    <div class="form-input-set">
        <div class="checkbox-container">
            <input asp-for="RememberMe" type="checkbox" id="remember-checkbox" class="regular-checkbox">
            <label asp-for="RememberMe" for="remember-checkbox">@Html.DisplayNameFor(m => m.RememberMe)</label>
        </div>
    </div>
    <div class="form-buttons-row">
        <button type="submit" class="action-button add-button">Zaloguj</button>
    </div>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}