@{
    ViewBag.Title = "Zarządzaj kontem";
}

<div>
    <div class="upper-row">
        <h2>Zarządzaj kontem</h2>
    </div>
    <h3>Usuwanie konta</h3>
    <a asp-controller="Account" asp-action="Delete" class="danger">Usuń konto</a>
</div>
